.grid-1 {
    display:grid;
    grid-template-columns:200px 75px;
}
.grid-1_1 {
    background-color:lightblue;
}
.grid-1_2 {
    background-color:lightpink;
}

.grid-2 {
    display:grid;
    grid-template-columns:50px 1fr 75px;
}
.grid-2_1 {
    background-color:lightblue;
}
.grid-2_2 {
    background-color:lightpink;
}
.grid-2_3 {
    background-color:lightblue;
}

.grid-3 {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap:15px;
    row-gap:10px;
}
.grid-3_1 {
    background-color:lightblue;
}